*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'mts-reg';
}

.center {
    padding-left: calc(50% - 40vw);
    padding-right: calc(50% - 40vw);
}

.dark-theme {
    background: #111;
}

.promo__banner_circle {
    background-image: url(../img/circle-background.png);
    background-position: center -70px;
    background-size: 2560px 762px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
}

.main {
    height: 90vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.main__promo {
    position: relative;
}

.header__place {
    display: flex;
    gap: 5px;
}

.header__phoneNumber {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.place__city {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.phoneNumber__number {
    color: #fff;
}

.main__promo {
    display: flex;
    align-items: center;
}

.promo__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info__title {
    font-size: 52px;
    color: #fff;
}

.info__subtitle {
    font-size: 26px;
    color: #fff;
}

.button {
    margin-top: auto;
    background: #ff0032;
    border-radius: 10px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    width: 40%;
    font-family: 'mts-reg';
}

.fixed__block {
    position: fixed; /* Фиксируем блок */
    bottom: 0; /* Прижимаем к низу страницы */
    left: 0; /* Прижимаем к левому краю */
    width: 100%; /* Ширина на всю страницу */
    height: 125px; /* Установка высоты, равной оставляемому пространству */
    background-color: black; /* Черный фон */
    border-top: 0.1px solid white; /* Белый верхний бордер */
    display: flex; /* Для горизонтального выравнивания элементов */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Центрируем элементы по вертикали */
    color: white; /* Цвет текста белый для контраста */
    z-index: 1000; /* Чтобы блок был выше других элементов */
}

.fixed__text {
    display: flex; /* Для удобного расположения текста */
    flex-direction: column; /* Вставляем элементы по вертикали */
}

.number {
    font-size: 22px;
    font-weight: 500;
    color: #2d6cf9;
}

.fixed__button_block {
    border-radius: 10px;
    border: 0;
    background-color: #000;
    padding: 15px 30px;
    transition: background-color .3s;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.dark-theme .fixed__block .fixed__button_block {
    border: 1px solid var(--Fill-White, #fff);
    background: var(--Fill-Black, #000);
}

.tarif {
    margin-top: 50px;
}

.tarif-wrapper {
    display: flex;
    gap: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.tarif-wrapper p {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

.tabs-wrapper {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent; /* Default state without underline */
    font-weight: bold;
    color: white;
}

.tabs-wrapper.active-tab {
    border-bottom: 3px solid #ff0000; /* Red underline for the active tab */
}

.cards {
    display: none; /* Hide all content sections by default */
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    background-color: #2f2f37;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    height: 100%;
}

.card-mobile {
    height: 350px;
}

#home-telephone {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between cards */
}

#home-telephone .card {
    width: 300px; /* Set a fixed width for consistent layout */
    height: 300px; /* Set a fixed height for uniformity */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #2f2f37;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#home-telephone .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    min-height: 200px;
}

#home-telephone-slider {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0 10px;
}

/* Для карточек внутри слайдера */
#home-telephone-slider .swiper-slide {
    width: auto;
    max-width: 90vw;
    height: auto;
}


#home-telephone-slider,
#home-internet-slider,
#home-tv-slider,
#home-sput-tv-slider {
    max-width: 100vw; /* Ограничиваем ширину слайдера */
    height: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    gap: 10px; /* Уменьшаем отступы между карточками */
}

.swiper-slide {
    width: auto;
    height: auto;
}

/* Устанавливаем одинаковую высоту для карточек */
.swiper-slide .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Контентная часть карточки, растягивается на доступную высоту */
.swiper-slide .card-content {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    height: 100%; /* Заставляет контейнер занять всю доступную высоту */
}

.card {
    background-color: #2f2f37;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;

}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#home-telephone-slider .card {
    min-height: 320px; /* Устанавливаем меньшую минимальную высоту для карточек */
    height: auto; /* Убираем фиксированную высоту */
    width: 250px;
}

#home-telephone-slider .card-content {
    min-height: 200px; /* Уменьшаем минимальную высоту контента карточек */
}


.swiper-button-prev,
.swiper-button-next {
    position: relative;
    float: center;
}

.swiper-button-next {
    float: right;
}

/* Кастомная пагинация */
.swiper-pagination {
    position: relative;
}

/* Стили для всех точек пагинации */
.swiper-pagination-bullet {
    background-color: #ffffff; /* Белый цвет для неактивных точек */
    opacity: 0.6; /* Полупрозрачный эффект для неактивных точек */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: background-color 0.3s, opacity 0.3s;
}

/* Стили для активной точки пагинации */
.swiper-pagination-bullet-active {
    background-color: #ff0000; /* Красный цвет для активной точки */
    opacity: 1; /* Полностью непрозрачная активная точка */
}

/* Контейнер для стрелок */
.swiper-container {
    display: flex;
    align-items: center;
    position: relative;
}

.swiper-wrapper-container {
    display: flex;
}


/* Центрируем стрелки по вертикали */
.swiper-wrapper {
    display: flex;
    align-items: center;
}


#home-telephone-slider {
    position: relative; /* Делаем родительский контейнер позиционированным */
    max-width: 100%;
    overflow: hidden;
}



/* Дополнительно, если иконки внутри стрелок */
.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
    font-size: 12px; /* Уменьшаем размер иконок стрелок */
}

.swiper-container .swiper-button-prev:hover,
.swiper-container .swiper-button-next:hover {
    color: #ff0032; /* Белый цвет иконки */
    font-weight: 1000;
}

#home-telephone-slider {
    position: relative; /* Для позиционирования стрелок относительно слайдера */
    max-width: 100%;
    overflow: hidden;
}

/* Общие стили для стрелок */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}


#home-telephone-slider {
    position: relative;
    max-width: 100%;

    margin: 0 auto; /* Центрируем слайдер по горизонтали */
    overflow: hidden;
}

#home-telephone-slider .swiper-slide {
    width: 100%;
    max-width: 100%;
    padding: 0 10px; /* Небольшие отступы по бокам */
}

#home-telephone-slider .card {
    width: 100%; /* Карточка занимает всю ширину слайда */
    max-width: 100%;
    height: auto; /* Автоматическая высота */
}

/* Слайдовые карточки */
.swiper-wrapper {
    display: flex;
    justify-content: flex-start; /* Центрируем контент слайдера */
    gap: 20px; /* Расстояние между карточками */
}

.swiper-slide .card {
    height: 90vh; /* Фиксированная высота для всех карточек */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Контентная часть карточки, растягивается на доступную высоту */
.swiper-slide .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100%; /* Заставляем содержимое занять всю высоту */
}

.swiper-slide {
    display: flex;
    align-items: stretch; /* Обеспечиваем равномерную высоту всех карточек */
}



.price {
    margin-top: auto; /* Располагает цену внизу карточки */
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}


.card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    display: block;
}

.tarif-title, .tarif-subtitle, .tarif-detail, .speed, .slider, 
.speed-options, .tv-channels, .mobile-data, .data-details, .minutes, 
.extras, .price, .connect-btn, .more-btn {
    width: 100%; /* Full width for each element */
    padding-top: 10px;
}

.price-details {
    font-size: 0.7em;
    color: #666;
}

.tarif-title {
    font-weight: bold;
    font-size: 1.3em;
    color: white;
}

.tarif-title-change {
    color: #fff;
    font-size: 28px;
}

.tarif-subtitle {
    color: white;
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 10px;
}

.tarif-detail, .tv-channels, .mobile-data, .data-details, .minutes {
    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
}

.tarif-detail, .mobile-data {
    font-size: 0.9em;
    margin-bottom: 0;
}

.speed, .price, .data-details, .minutes, .tv-channels{
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    padding-top: 5px;
}


.slider input[type="range"] {
    width: 100%;
    appearance: none;
    background-color: #ddd;
    height: 6px;
    border-radius: 3px;
    outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #f00;
    border-radius: 50%;
    cursor: pointer;
}

.speed-options {
    display: flex;
    gap: 10px;
}

.speed-options label {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #f5f5f5; /* Light gray background */
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.speed-options input[type="radio"] {
    appearance: none;
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.speed-options input[type="radio"]:checked {
    border-color: #ff0032; /* Red border for selected option */
}


.speed-options label:hover {
    background-color: #e0e0e0;
}


.extras {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: white;
    margin-top: 10px;
}

.extras img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-top: auto; /* Pushes price to the bottom */

}

.button-block {
    display: flex;
    gap: 10px;
}

.connect-btn, .more-btn {
    display: inline-block;
    padding: 15px 0;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}



.connect-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.more-btn {
    background-color: #f1f1f1;
    color: #333;
    border: none;
}

.connect-btn:hover {
    background-color: #d00000;
}

.more-btn:hover {
    background-color: #e0e0e0;
}

.more-btn {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

/* Сброс стандартных стилей ссылки */
.more-btn:link,
.more-btn:visited {
    color: #333;
    text-decoration: none;
}

/* Ховер-эффект для ссылки */
.more-btn:hover {
    background-color: #e0e0e0;
}

/* Установить одинаковую высоту кнопок */
.button-block {
    display: flex;
    gap: 10px;
}

.connect-btn,
.more-btn {
    flex: 1;
}

/* Badge style for "ХИТ" label */
.card::before {
    content: "ХИТ";
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #ff0000;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 5px;
}

.card.no-hit::before {
    content: none; /* Remove the "ХИТ" label */
}

.card-content p:empty, .card-content div:empty {
    visibility: hidden;
    height: 1px; /* Maintains space without content */
}

.old-price {
    position: relative;
    color: #999;
    font-size: 0.8em;
}

.price-tv2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.old-price::before {
    content: '';
    position: absolute;
    top: 50%;         /* Adjust position */
    left: -5px;       /* Start line slightly before the text */
    width: 120%;      /* Make the line a bit longer to cover the text diagonally */
    height: 1.5px;      /* Thickness of the line */
    background-color: red;
    transform: rotate(-10deg);  /* Adjust angle as needed */
    transform-origin: center;
}

.promo-badge {
    display: inline-block;
    background-color: #ffeb3b; /* Yellow background */
    color: #333; /* Text color */
    font-weight: bold;
    font-size: 0.7em;
    padding: 5px 10px; /* Padding for spacing around the text */
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.swiper-wrapper {
    display: flex;
    gap: 2%;
}



.footer {
    background-color: #101010;
    padding: 40px 20px;
    color: white;
    font-family: Arial, sans-serif;
    border-top: 1px solid #333;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__logo-img {
    height: auto;
}

.footer__dealer {
    font-weight: 700;
    font-size: 16px;
}

.footer__phone {
    margin-top: 20px;
}

.footer__phone-number {
    font-size: 24px;
    font-weight: 700;
}

.footer__links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer__dot {
    color: red;
}

.footer__nav {
    display: flex;
    gap: 40px;
}

.footer__column {
    flex: 1;
}

.footer__column-title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 16px;
    color: #c6c2c2;
}

.footer__column-title:hover {
    color: #fff;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__column ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__item a {
    color: #c6c2c2;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer__item a:hover {
    color: #fff;
}

.footer__bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.footer__bottom-text {
    font-size: 12px;
    text-align: center;
    width: 50vw;
}

.footer__policy-links {
    display: flex;
    gap: 20px;
}

.footer__policy-link {
    color: #c6c2c2;
    font-size: 12px;
    transition: color 0.3s;
    text-decoration: underline;
}

.footer__policy-link:hover {
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    overflow-y: auto;

}

/* Modal Content */
.modal-content {
    position: fixed;
    top: 0;
    right: -50%; /* Start off-screen */
    width: 50%;
    height: 100%;
    background-color: #1c1c1c; /* Dark background for form area */
    padding: 40px 60px; /* Inner padding for form */
    color: #fff; /* White text color */
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease; /* Smooth slide-in */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Show the modal by sliding it in */
.modal.show .modal-content {
    right: 0; /* Slide in to take up half the screen */
}

/* Close Button */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s;
}

.close-button:hover {
    color: #ff0000;
}

/* Title Styling */
.modal-content h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

/* Form Styling */
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-form label {
    display: none; /* Hide labels if placeholders are sufficient */
}

.modal-form input[type="text"],
.modal-form input[type="tel"] {
    width: 40%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.modal-form input[type="text"]::placeholder,
.modal-form input[type="tel"]::placeholder {
    color: #888; /* Placeholder color */
}

.submit-button {
    background-color: #ff0000;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 30%;
}

.submit-button:hover {
    background-color: #cc0000;
}

/* Additional Text at the Bottom */
.modal-content p {
    font-size: 12px;
    color: #888;
    margin-top: 15px;
}

.modal-content p a {
    color: #ff0000;
    text-decoration: none;
}

.modal-content p a:hover {
    text-decoration: underline;
}

.burger-menu,
.nav-menu {
    display: none;
}

.burger-menu {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.nav-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #1c1c1c;
    z-index: 1000;
    padding: 20px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav-menu.open {
    display: flex;
}

.close-menu {
    font-size: 24px;
    color: #ff0000;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu li {
    margin-bottom: 15px;

}

.nav-menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-size: 24px;
}

.header-mobile {
    display: none;
}

.tarif-wrapper-mobile {
    display: none;
}


/* Страница всех тарифов */


.top-menu {
    background-color: #1c1c1c;
    padding: 10px 20px;
    display: flex;
}

.top-menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-links a,
.right-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.left-links a:hover,
.right-links a:hover {
    color: #ff0032;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.location-icon {
    color: #aaa;
    font-size: 14px;
}

/* Основное меню */
.main-header {
    background-color: #1c1c1c;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

.main-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.main-nav a:hover {
    color: #ff0032;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
    color: #969FA8;
}

.search-input {
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #2b2b2b;
    color: #fff;
    width: 200px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
}

.search-input {
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #2b2b2b;
    color: #fff;
    width: 200px;
    transition: width 0.3s ease;
}

.search-input.expanded {
    width: 900px; /* Увеличенная ширина */
}

.main-nav.hidden {
    display: none; /* Скрываем меню */
}

.login-button,
.catalog-button {
    background-color: #ff0032;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover,
.catalog-button:hover {
    background-color: #d00028;
}

.breadcrumbs {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.breadcrumb-list {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #6c757d;
}

.breadcrumb-list li {
    display: flex;
    align-items: center;
}

.breadcrumb-list a {
    color: #6c757d;
    text-decoration: none;
}

.breadcrumb-list a:hover {
    text-decoration: underline;
    color: #007bff;
}

.breadcrumb-list span {
    color: #adb5bd;
}

/* Блок проверки адреса */
.address-check-container {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.address-check-title {
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
}

.address-input-wrapper {
    display: flex;
    gap: 10px;
}

.address-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: #fff;
}

.check-button {
    background-color: #ff0032;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.check-button:hover {
    background-color: #d00028;
}

.map-link {
    display: block;
    margin-top: 10px;
    color: #4da6ff;
    text-decoration: none;
}

.map-link:hover {
    color: #1a8cff;
}

.map-link-block {
    display: flex;
    align-items: start;
}

.callback-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    background: linear-gradient(to right, #8364f6, #ff79c6);
    max-width: 900px;
    margin: 20px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Обрезка содержимого за границами блока */
    position: relative;
    height: 40%;
}

/* Контентная часть */
.callback-content {
    flex: 1;
    z-index: 1;
}

/* Заголовок */
.callback-title {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.2;
}

/* Форма */
.callback-form {
    display: flex;
    gap: 10px;
}

.callback-input {
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    width: 200px; 
}

.callback-button {
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: #ff0032;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.callback-button:hover {
    background-color: #d00028;
}

/* Примечание */
.callback-note {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
}

/* Блок с изображением */
.callback-image {
    position: absolute;
    top: 0;
    right: -50px; /* Смещаем изображение за правую границу */
    width: 30%; /* Увеличиваем ширину изображения */
    height: 100%;
    background: url('../img/mobile-img.png') no-repeat center / contain;
    z-index: 0;
}

.address-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.address-modal-content {
    width: 600px;
    max-width: 90%;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
}

.address-modal-header {
    text-align: left;
    margin-bottom: 15px;
}

.address-modal-title {
    font-size: 22px;
    margin: 0;
    color: #333;
}

.address-modal-subtitle {
    font-size: 14px;
    color: #666;
}

.address-modal-input-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.address-modal-input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.address-modal-button {
    padding: 10px 20px;
    background-color: #ff0032;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.address-modal-button:hover {
    background-color: #d00028;
}

.address-modal-map {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff0032;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #d00028;
}



/* CUSTOM TARIF */

.mts-dealer-header {
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mts-dealer-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.mts-dealer-header__logo img {
    height: 40px;
}

.mts-dealer-header__links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.mts-dealer-header__link,
.mts-dealer-header__location,
.mts-dealer-header__support {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.mts-dealer-header__contact {
    font-size: 18px;
    color: white;
}

.mts-dealer-header__phone {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.mtsofficial-tariff-section__services {
    border-top: 1px solid #ccccd3;
    padding-top: 10px;
}

.mts-dealer-header__phone:hover {
    text-decoration: underline;
}

/* Меню навигации */
.mts-dealer-header__nav {
    border-bottom: 1px solid #e0e0e0;
    padding-right: auto;
    padding-left: auto;
    color: white;
}

.mts-dealer-header__menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    list-style: none;
}

.mts-dealer-header__menu-item {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.mts-dealer-header__menu-item:hover {
    text-decoration: underline;
}

.mts-dealer-header-place {
    display: flex;
    gap: 5px;
}

/* Хлебные крошки */
.mts-dealer-breadcrumbs {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    font-size: 14px;
    color: white;
}

.mts-dealer-breadcrumbs__link {
    color: #969fa8;
    text-decoration: none;
}

.mts-dealer-breadcrumbs__link:hover {
    color: white;
}

.mts-dealer-breadcrumbs__separator {
    margin: 0 5px;
    color: white;
}

.mts-dealer-breadcrumbs__current {
    font-weight: bold;
    color: white;
}


.mtsofficial-tariff-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}

.mtsofficial-tariff-section__content {
    display: flex;
    align-items: flex-start;
    gap: 150px;
    flex: 1;
}

.mtsofficial-tariff-section__image {
    flex: 1;
}

.mtsofficial-tariff-section__cat-image {
    width: 100%;
    max-width: 200px;
}

.mtsofficial-tariff-section__info {
    flex: 2;
}

.mtsofficial-tariff-section__title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.mtsofficial-tariff-section__subtitle {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

.mtsofficial-tariff-section__services {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.mtsofficial-tariff-section__service {
    font-size: 14px;
}

.mtsofficial-tariff-section__icon {
    margin-right: 5px;
}

.accordion {
    color: white;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    line-height: 30px;
    padding: 20px 12px;
    transition: 0.25s;
    border-radius: 5px;
    position: relative;
    border-top: 1px solid #ccccd3;
    border-bottom: 1px;
}


.accordion .accordion-arrow {
    float: right;
    transition: transform 0.25s ease, fill 0.25s ease;
    fill: #949494; /* Цвет стрелки по умолчанию */
}

.accordion.active .accordion-arrow path {
    fill: #e60000; /* Красный цвет стрелок */
}

/* Активная стрелка */
.accordion.active .accordion-arrow {
    transform: rotate(180deg);
    fill: #e60000; /* Закрашенная стрелка красным цветом при активном состоянии */
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0;
    text-align: left;

}

.panel-second {
    display: flex;
}

.kion {
    width: 40px;
    height: 40px;
}

.panel > div {
    padding: 6px 10px;
    text-align: justify;
    color: white;
}

ul {
    list-style-type: disc; /* Устанавливаем обычный маркер в виде точки */
    padding-left: 20px;

}

ul li {
    margin-bottom: 8px;
    color: white;
}

.mtsofficial-tariff-section__price {
    font-size: 30px;
    font-weight: bold;
    color: #e60000;
    margin: 20px 0;
    float: right;
}

.mtsofficial-tariff-section__button {
    background-color: #e60000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.mtsofficial-tariff-section__button:hover {
    background-color: #cc0000;
}

/* Стили блока с описанием тарифа */
.mtsofficial-tariff-section__details {
    margin-top: 40px;
    width: 55%;
}

.mtsofficial-tariff-section__details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.mtsofficial-tariff-section__details ul {
    padding: 0;
}

.mtsofficial-tariff-section__details li {
    font-size: 16px;
    margin-bottom: 10px;
}

.mtsofficial-tariff-section__details strong {
    font-weight: bold;
}

.mtsofficial-tariff-section__service-home,
.mtsofficial-tariff-section__service-mobile {
    color: #777;
    font-size: 16px;
}

.servise-plus {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    color: white;
}

.servise-plus path {
    fill: white;
}

.dealer-mobile-modal,
.mts-dealer-burger-menu,
.mts-dealer-header-icon-mobile,
.Servise-modal {
    display: none;
}


@media (max-width: 768px) {
    .promo__banner_circle {
    background-image: url(../img/circle-background.png);
    background-position: center 100px;
    background-size: 2560px 762px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
}

.swiper-button-prev,
.swiper-button-next {
display: none;
}

.modal-content {
    width: 100%;
}

.submit-button {
    width: 70%;
}

.modal-form input[type="text"], .modal-form input[type="tel"] {
    width: 80%;
}

.burger-menu {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

/* Стили для выдвижного меню */
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 10001; /* Меню поверх всех элементов */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    padding-bottom: 100px;
}

/* Открытое меню */
.nav-menu.open {
    transform: translateY(0);
}

/* Кнопка закрытия */
.close-menu {
    font-size: 32px;
    color: #ff0032;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10002; /* Кнопка закрытия поверх меню */
}


    .header-desktop {
        display: none; /* Скрываем десктопную шапку */
    }

    .info__title {
        font-size: 32px;
        color: #fff;
    }

    .info__subtitle {
        font-size: 20px;
        color: #fff;
    }

    .button {
        margin-top: auto;
        background: #ff0032;
        border-radius: 10px;
        padding: 15px 25px;
        border: 0;
        outline: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #fff;
        width: 100%;
        font-family: 'mts-reg';
    }

    .phoneNumber__number {
        color: #fff;
        display: none;
    }

    .phoneNumber__icon {
        padding-top: 5px;
    }

    .place__city {
        font-size: 14px;
        font-weight: bold;
    }

    .header__for-home {
        font-size: 14px;
        color: #c6c2c2;
    }

    .phoneNumber__number {
        color: #fff;
    }

    .main__promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px;
    }

    .promo__info {
        text-align: center;
        padding: 0;
    }

    .info__title {
        font-size: 28px;
        line-height: 1.2;
        color: #fff;
    }

    .info__subtitle {
        font-size: 16px;
        line-height: 1.4;
        color: #c6c2c2;
        margin-bottom: 20px;
    }

    .promo__img img {
        width: 100%;
        height: auto;
        max-width: 300px;
        object-fit: contain;
    }

    .button {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        font-weight: 600;
    }

    .header-mobile {
        display: block;
        color: #fff;
        padding: 10px 15px;
    }

    /* Верхняя часть мобильной шапки */
    .header-mobile__top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        border-bottom: 1px solid #333;
        padding-bottom: 10px;
    }

    .place__city {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }

    .header__for-home {
        font-size: 14px;
        color: #c6c2c2;
    }

    /* Нижняя часть мобильной шапки */
    .header-mobile__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }

    .logo {
        height: 20px;
    }

    .header__phoneNumber {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 5px;
        font-size: 14px;
        color: #fff;
    }

    .burger-menu {
        display: block;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    .tarif-title-change {
        color: #fff;
        font-size: 24px;
        padding-bottom: 10px;
        padding-top: 50px;
    }
    

    
    /* Стили для бургер-меню */
    .burger-menu {
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }

    .header__underline {
        display: none;
    }

    .promo__img img {
        width: 100%;
        height: auto;
    }

    .tarif-wrapper-mobile {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .tarif-wrapper-mobile p {
        color: white;
        font-size: 24px;
    }

    .tarif-wrapper {
        display: none;
    }

    /* Отображаем активную вкладку */
    .tabs-wrapper.active-tab {
        border-bottom: 3px solid #ff0000;
        color: #ff0000;
    }


    .Servise-modal {
        display: none; /* Скрываем окно по умолчанию */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
        z-index: 1000;
    }
    
    /* Содержимое модального окна */
    .modal-servise-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    /* Заголовок модального окна */
    .modal-servise-content h2 {
        text-align: center;
        color: black;
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    /* Кнопка закрытия */
    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #ff0032;
        cursor: pointer;
    }
    
    .close-button-modal {
        font-size: 30px;
        float: right;
    }

    /* Стили формы */
    .modal-form-servise {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    /* Стили для radio input */
    .modal-form-servise label {
        display: flex;
        align-items: center;
        font-size: 18px;
        gap: 10px;
    }
    
    .modal-form-servise input[type="radio"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #ff0032;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }
    
    /* Стили для активного radio input */
    .modal-form-servise input[type="radio"]:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #ff0032;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    
    /* Кнопка выбора услуги */
    .submit-button-servise {
        padding: 15px;
        background-color: #ff0032;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .submit-button-servise:hover {
        background-color: #d00000;
    }
    
    /* Дополнительные стили для формы */
    .modal-form-servise label {
        color: #333;
    }
    
    .modal-form-servise input[type="radio"]:checked + label {
        color: #ff0032;
    }

    #home-telephone img {
        display: none;
    }


    .footer {
        padding: 20px 10px;
        margin-bottom: 150px;
        margin-top: 20px;
    }

    .footer__container {
        gap: 30px;
    }


    .footer__phone-number {
        font-size: 20px;
        font-weight: 700;
    }

    .footer__links {
        gap: 5px;
    }

    .footer__link {
        font-size: 14px;
    }

    .footer__nav {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .footer__column {
        width: 100%;
        text-align: center;
    }

    .footer__column-title {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .footer__list {
        gap: 10px;
    }

    .footer__item a {
        font-size: 12px;
    }

    .footer__bottom {
        flex-direction: column-reverse;
        align-items: start;
        gap: 10px;
    }

    .footer__bottom-text {
        font-size: 12px;
        text-align: left;
        width: 50vw;
    }

    .footer__bottom-text {
        font-size: 12px;
        width: 80%;
        color:#74747c ;
    }

    .footer__policy-links {
        flex-direction: column;
        gap: 5px;
    }

    .footer__policy-link {
        font-size: 12px;
        text-decoration: none;
        color: #74747c;
    }


    .footer__accordion {
        cursor: pointer;
        padding: 10px 0;
        font-weight: bold;
        color: #c6c2c2;
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;
    }


    .footer__accordion:hover {
        color: #fff;
    }

    .footer__accordion-content {
        display: none;
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
    }

    .footer__accordion-content.active {
        display: flex;
    }

    .fixed__block {
        flex-direction: column;
        align-items: start;
        padding-bottom: 10px;
    }

    .fixed__text {
        padding-top: 10px;
        flex-direction: column;
        align-items: start;
    }

    .fixed__button_block {
        border-radius: 10px;
        border: 0;
        background-color: #000;
        padding: 15px 30px;
        transition: background-color .3s;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        width: 100%;
    }

    .fixed__button {
        width: 100%;
    }



    /* TARIF STYLE FLEX */

    .footer-tarif {
        margin-bottom: 0;
    }

    .top-menu,
    .main-nav,
    .header-actions,
    .breadcrumbs,
    .callback-container {
        display: none;
    }
    
    .address-check-container {
        max-width: 80%;
    }



    /* TARIFS STYLES FLEX */

    .mts-dealer-header__logo,
    .mts-dealer-header__nav,
    .mts-dealer-header__support,
    .mts-dealer-header__contact,
    .mtsofficial-tariff-section__image {
        display: none;
    }

    .mts-dealer-header {
        border-bottom: none;
    }

    .mts-dealer-header-icon-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ccccd3;
        border-bottom: 1px solid #ccccd3;
        padding: 10px 0 10px 0;
    }

    .mts-dealer-header-small-icon-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }

    .mts-dealer-header-small-icon-mobile-burger {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .mts-dealer-header-small-icon-mobile-telephone {
        padding-top: 5px;
    }

    .logo-icon-mobile {
        width: 190px;
        height: 35px;
    }

    .mts-dealer-header__links {
        justify-content: space-between;
    }

    .mts-dealer-header__top {
        padding: 0;
        display: block;
    }

    .mts-dealer-burger-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 1000;
        transition: transform 0.3s ease;
        transform: translateY(-100%);
    }
    
    .mts-dealer-burger-menu.hidden {
        transform: translateY(-100%);
    }
    
    .mts-dealer-burger-menu.visible {
        transform: translateY(0);
    }
    
    .mts-dealer-burger-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    
    .mts-dealer-burger-menu-list li {
        margin-bottom: 15px;
    }
    
    .mts-dealer-burger-menu-list a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }
    
    .mts-dealer-burger-menu-list a:hover {
        color: #ff0032;
    }

    .mts-dealer-breadcrumbs {
        display: block;
    }

    .mts-dealer-footer {
        margin-bottom: 0;
    }

    .mtsofficial-tariff-section {
        align-items: center;

    }

    .callback-container-dealer-mobile {
        display: flex;
        max-width: 90%;
    }

    .callback-form {
        flex-direction: column;
    }

    .callback-input-dealer-mobile {
        width: auto;
        z-index: 999;
    }

    .mtsofficial-tariff-section__details {
        margin-top: 40px;
        width: 80%;
    }

    .dealer-mobile-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }
    
    .dealer-mobile-modal-content {
        background-color: #fff;
        padding: 20px;
        width: 90%;
        max-width: 400px;
        border-radius: 10px;
        text-align: center;
        position: relative;
    }
    
    .dealer-mobile-modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #333;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .dealer-mobile-modal-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .dealer-mobile-modal-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .dealer-mobile-modal-submit {
        width: 100%;
        padding: 10px;
        background-color: #ff0032;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .dealer-mobile-modal-submit:hover {
        background-color: #d00028;
    }
    
    .dealer-mobile-modal-note {
        font-size: 12px;
        color: #666;
        margin-top: 10px;
    }
    
    .dealer-mobile-modal-link {
        color: #ff0032;
        text-decoration: underline;
    }
    
}

@media (min-width: 1440px) {
    .center {
        padding-left: 10%;
        padding-right: 10%;
    }

    .promo__info {
        max-width: 50%;
    }

    .promo__img img {
        max-width: 70%;
        height: auto;
    }

    .main {
        height: 100vh;
    }

    .header__phoneNumber {
        font-size: 24px;
    }

    .info__title {
        font-size: 64px;
    }

    .info__subtitle {
        font-size: 32px;
    }

    .tarif-wrapper {
        gap: 50px;
    }

    .card {
        width: 400px;
    }
    

    .modal-content {
        width: 35%; /* Уменьшите ширину для больших экранов */
        max-width: 600px; /* Максимальная ширина, чтобы не растягиваться слишком сильно */
        padding: 60px; /* Увеличьте отступы для более аккуратного отображения */
    }

    .modal-form input[type="text"],
    .modal-form input[type="tel"] {
        width: 90%; /* Сделайте поля шире, чтобы занимали больше пространства */
        font-size: 18px; /* Увеличьте размер текста */
        padding: 15px; /* Увеличьте отступы для удобства ввода */
    }

    .submit-button {
        width: 50%; /* Сделайте кнопку шире */
        font-size: 20px; /* Увеличьте размер шрифта */
        padding: 20px; /* Увеличьте отступы */
    }

    .close-button {
        font-size: 28px; /* Увеличьте размер кнопки закрытия */
    }
}